body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
  }
*,
*.before,
*.after {
  size

}
  hr{
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    margin: 40px 0;
    background-color: #e5e5e5;
  }
  
  /* Header */
  .container {
    width: 100%;
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
  }
  
  .header {
    
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
  }
 .nav {
     font-size: 14px;
     text-transform: uppercase;
 }  

 .nav__link {
     text-decoration: none;
     color: black;
     margin: 0 15px;
     vertical-align: top;
     position: relative;
     transition: color 0.5s linear;
 }

 .nav__link::after {
     content: "";
     background-color: #A2B045 ;
     display: block;
     position: absolute;
     opacity: 0;
     width: 100%;
     height: 3px;
     top:100%;
     left:0;
     z-index: 1;
     transition: opacity 0.4s linear;
 }
 .nav__link:hover {
 color: #A2B045;
 }

 .nav__link:hover::after {
    opacity: 1;
 }
 /*intro*/
 .intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background: url("../images/images.jpg") center no-repeat;
   background-size: cover;
 }

 .intro__inner {
   
   width: 100%;
   max-width: 850px;
   margin: 0 auto; 
   text-align: center;
 }
 
 .intro__title {
   color: white;
   font-size: 90px;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 1;
 
 }

 .intro__title::after {
content: "";
width: 50px;
height: 3px;
display: block;
background-color: #fff;
margin: 50px auto;
 }

 .intro__uptitle {
color: white;
font-size: 52px;
font-family: 'Kaushan Script', sans-serif;
margin-bottom: 20px;
 }
 
 /* Button*/

 .btn {
  border: 3px solid black;
  color: #fff;
  padding: 8px 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 70px;
  transition: background-color 0.5s linear, color 0.5s linear;
  margin-top: 20px;
  }
  
 .btn:hover {
 background-color: #A2B045;
 color: #333;

  }

 /*Slider*/


 .slider {
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  margin-top: 100px;
  padding: 50px 80px;
 }

 .slider__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto;
   }

.slider__item{
  width: 15%;
  color: #fff;
  padding: 20px 0;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  border-top: 3px solid white;
  opacity: 0.7;
}

.slider__item.active {
opacity: 1;

}

.slider__item.active:before {
display: block;
position: absolute;
content: ""; 
width: 70px;
height: 3px;
background-color: aqua;
left: 0;
z-index: 1; /*перекриває елемент знизу, чим більши індекс той елемент і перекриває*/
top: -3px;
}

.slider__num {
color: #fff;
font-size: x-large;
font-weight: 700;
 }

.section {
  padding: 80px 0;

}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.section__uptitle {
  font-size: 20px;
  color: #333;
  font-family:'Kaushan Script', cursive;
  margin: 10px auto;
}
.section__title {
  font-size: 30px;
  text-transform: uppercase;
}
.section__title::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 20px auto;
  background-color: brown;
}

.section__text {
  font-size: 14px;
  color: #999;

}
.card {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
 }
.card__item {
  width: 380px;}

.card__inner {
  height: 380px;
  background-color: cyan;
  position: relative; 
}
.card__img__item {
   width: 380px;
   height: 380px;
 }
 .card__inner:hover .card__img img {
   opacity: 0.2;
 }
.card__inner:hover .card__img {
  transform: translate3d(-10px,-10px, 0);
}
 .card__img {
   height: 100%;
   background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.5s linear;
 }

 .card__item:hover .card__text {
   opacity: 1;
 }
 .card__text {
   text-transform: uppercase;
   width: 100%;
   font-size: 18px;
   position: absolute; 
   text-align: center;
   top: 50%;
   left: 0;
   color: #fff;
   font-weight: 700;
   z-index: 2;
   opacity: 0;
   transform: translate3d(0, 50%, 0);
   transition: opacity 0.2s linear;
 }

.card__info {
  margin-top: 20px;
  text-align: center;
}
.card__name {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.card__prof {
font-size: 16px;
font-style: italic;
font-weight: 300;
color: #999999;
}
 .statistics {
background-color: #95e1d3;

 }
 .stat {
   display: flex;
   
 }

 .stat__item {
   flex: 1 1 0;
   padding: 70px;
   text-align: center;
   color: #fff;
   border-left: 1px solid #fff;
 }

 .stat__item:last-child {
  border-left: 1px solid #fff;
 }


 .stat__num {
  font-size: 72px;
  font-weight: 700; 
  line-height: 1;

 }

 .stat__text {
   font-size: 14px;
   text-transform: uppercase;
 }

 /*servisec 3pg*/

 .services {
display: flex;
 }
.services__item {
  flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;

}

 .services__icon {
   width: 30px;
   height: 30px;
   position: absolute;
   left: 30px;
   z-index: 1;
 }

 .services__title {
   margin-bottom: 10px ;
   font-size: 14px;
   color: #333;
   text-transform: uppercase;
 }

 .services__text {
   font-size: 14px;
   color: #999999;
 }
/*Devices*/
.section--devices {
  margin-bottom: 30px;
  background: url("../images/devices-bg.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 0;
}



.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative
}

.devices__item {
  display: block;
}
.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;

}
/*wedo*/
.wedo {
  display: flex;
}

.wedo__item {
  width: 50%;
}

/*accordion*/

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
.accordion__item.active .accordion__content {
  display: block;
}
.accordion__item.active .accordion__header::after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}


.accordion__header {
  padding: 20px 20px 15px 70px ;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}
.accordion__header::after {
content: "";
display: block;
width: 20px;
height: 20px;
border-top: 2px solid #cccccc;
border-right: 2px solid #cccccc;
position: absolute;
top: 50%;
right: 20px;
z-index: 1;
transform: translateY(-50%) rotate(135deg);
}
.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}

.accordion__content {
  padding: 15px 20px;
  font-size: 15px;
  display: none;
  font-style: italic;
  height: 300;
  color: #999999;
}

.section--gray {
background-color: #f8f8f8;
}

/*Reviews*/

.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 255px;
  position: relative;
}

.reviews__photo {
  border: 2px solid #95e1d3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} 
.reviews__text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #333;
}
.reviews__author::before {
content: "";
display: inline-block;
vertical-align: middle;
width: 50px ;
height: 3px;
margin-right: 10px;
background-color: red;
}
.reviews__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.reviews__btn::after {
 content: "";
 display: block;
 width: 20px;
 height: 20px;
 border-top: 2px solid #cccccc;
 border-right: 2px solid #cccccc;
}

.reviews__btn--prev {
  transform: rotate(-45deg);
  left: 0;
}

/*socail*/

.social {
  display: inline-block;
  justify-content: center;
}

.social__item {
 width: 50px;
 height: 50px;
 padding: 12px 10px;
 font-size: 30px;
 text-decoration: none;
 background-color: #fce38a;
 color: #f38181;
 border-right: 1px solid #f38181;
 line-height: 1;
}
.social__item:last-child {
  border-right: 0;
}
.social__item:hover {
  color: #fff;
  background-color: #f38381;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*6page- works*/
.works {
display: flex;
}
.works__col {
  flex: 1 1 0; /*статья по flex */
}
.works__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.works__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.works__info {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: white;
  position: absolute;
  opacity: 0;

  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
/*отзывы клиентов 7ст*/
.section--clients {
  margin-bottom: 30px;
  background: url("../images/clients-bg.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 0;
}

.clients__item{
  flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
  display: block;
  padding-bottom: 35px;
  padding-top: 30px;
  
  }
.clients__photo {
  
  border-radius: 100px;
  position: absolute;
  
  left: 30px;
  z-index: 1;
}
.clients__name {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 75px;
  }
.clients__prof {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  padding-left: 75px;
}
.clients__prof::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 20px 0px;
  background-color: brown;
}
.clients__text  {
  padding-left: 75px;
  color: #858383;
}


/*blog*/
.blog {
  display: flex;
  }
 .blog__item {
   margin-left: 10px;
   margin-right: 10px;
 } 
.blog__header {
  position: relative;
  margin-bottom: 10px;
  }
.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.blog__date {
  background-color: #95e1d3;
  color: white;
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  left: -10px;
  font-weight: 300;
  padding: 10px 20px;
}
.blog__date-day {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}
.blog__content {
  margin-bottom: 10px;
  }
.blog__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.blog__title a {
  color: inherit; /*наслідує попередній елемент*/
  text-decoration: none;
}
.blog__title a:hover {
  text-decoration: underline;

}
.blog__text {
  font-size: 15px;
  color: #9999999;
}

.blog__footer {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5; /*лінія зверху*/
    font-size: 15p;
  font-weight: 300;
  font-style: italic;
  color: #99999;
}

.blog__stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;

}
.blog__stat__item i {
  color: #95e1d3;
}
.section__map {
  background: url("../images/map/map-bg.jpg") center no-repeat;
  background-size: cover;
}
.map-background {

}
.map {

}

/*Footer*/
.footer {
  background-color: #f8f8f8;
}
.footer__inner {
  display: flex;
 justify-content: space-between;
 padding-bottom: 50px;
}

.footer__col--first {
  width: 45%;
}
.footer__col--second {
  width: 30%;
}
.footer__col--third {
  width: 25%;
}
.footer__logo {
  margin-bottom: 30px;
  font-size: 50px;
  color: #cccccc;
  font-weight: 700;
}
.footer__text {
  margin-bottom: 30px;
font-size: 16px;
color: #9999999;
}
.footer__social {
  margin-bottom: 30px;
}

.footer__social-header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;

}
.footer__social-header b {
  font-size: 18px;
}
.footer__social-content {
  padding-top: 1px;
  font-size: 15px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}
.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #95e1d3;
  margin-left: 10px;
  text-decoration: none;
}
.footer__title {
 margin: 30px 0;
 font-size: 14px;
 color: #3333333;
 text-transform: uppercase;

}
/*subcribe*/
.subcribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  height: 40px;
}

.subcribe__input {
  padding: 10px;
 width: 55%;
 
 background: #fff;
 border: 1px solid #e5e5e5;
 border-right: 0;
 color: #333;
 font-size: 15px;
 font-weight: 300;
 font-style: italic;
}
.subsribe__input::placeholder {
color: #999;
}
.subscribe__input:focus {
outline: 0;
border-color: #95e1d3;
}

.subcribe__btn {
  width: 40%;
  padding: 10px 30px;

  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: backgrond 0.2s linear;
}

.subscribe__btn:hover {
  background-color: #74c2b4;
}

.subcribe__btn:focus {
outline: 0;}
/*blogs*/
.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}

.blogs__img {
width: 120px;
height: 80px;
}
.blogs__content {
padding-left: 20px;
}
.blogs__title {
  display: block;
  margin-bottom: 5px;
  color: #3333333;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  text-secoration: none;

}
.blogs__title:hover {
text-decoration: underline;
}
.blogs__date {
  font-size: 13px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}
/*insta*/
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.instagram__item {
  width: 32.3333%;
  border-bottom: 1px solid #fff;

}
.instagram__item img {
  display: block;
}
/*copyright*/
.coryright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.copyright span {
  color: #f38181;

}

@media (max-width: 1230px) {
  
    /*intro*/
    .intro__uptitle {
      font-size: 52px;
    }
    .intro__title {
      font-size: 120px;
    }
  
}
@media (max-width: 990px) {
    /*intro*/
  .intro__uptitle {
    font-size: 32px;
  }
  .intro__title {
    font-size: 80px;
  }
}
@media (max-width: 770px) {
  
}
@media (max-width: 575px) {
  /*intro*/
  .intro__uptitle {
    font-size: 22px;
  }
  .intro__title {
    font-size: 40px;
  }
}